nbproject/private/private.xml
dist/default/production/Lab0.production.elf
nbproject/Makefile-default.mk
dist/default/production/Lab0.production.hex
dist/default/debug/Lab0.debug.elf
build/default/production/_ext/1472/lab0.o.d
dist/default/debug/Lab0.debug.map
nbproject/Makefile-variables.mk
nbproject/Makefile-impl.mk
nbproject/Makefile-local-default.mk
nbproject/private/private.properties
nbproject/Makefile-genesis.properties
dist/default/production/Lab0.production.map
build/default/debug/_ext/1472/lab0.o.d
nbproject/configurations.xml
nbproject/project.properties
build/default/production/_ext/1472/lab0.o
nbproject/private/configurations.xml
nbproject/project.xml
nbproject/Package-default.bash
Makefile
build/default/debug/_ext/1472/lab0.o
